.Search {
  margin: 10px;
  padding: 0;
}

.Search form {
  display: flex;
  justify-content: left;
  align-items: center;
}

.Search input[type="text"] {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 44px;
  outline: 0;
  padding: 10px;
  width: 300px;
}

.Search input[type="submit"] {
  height: 45px;
  width: 80px;
}

.Search button {
  height: 45px;
  margin-left: 10px;
  width: 80px;
}
