.Weather {
  margin: 20px 0;
  color: #878787;
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  line-height: 28px;
}

.Weather .weather-header {
  margin-bottom: 20px;
}

.Weather .temperature {
  display: flex;
}

.Weather .weather-temp {
  color: #333;
  float: left;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  margin-left: 10px;
}

.Weather .weather-temp-unit {
  color: #333;
  float: left;
  font-size: 16px;
  line-height: 1.5;
}

.Weather .weather-detail__text {
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}
